# IDEs
.idea/

# Node
node_modules/

# Rust
target/

# Build outputs
dist/

# Turborepo
.turbo/

# Environment variables
.env*
!.env.example

# Old data
data/
*.csv

# AI Files - ignore all except workflows
.github/*
!.github/workflows/

.opencode/
openspec/
